@{
    ViewData["Title"] = "Home Page";
    //List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
   @* <div class="col-md-12">
        @Html.DropDownList("datos",items,"Selecciona una opcion",new{@class="form-control"})
    </div>*@
</div>
